@charset "UTF-8";
/* Values */
body {
  font-family: 'Titillium Web', sans-serif; }

/* sections */
body {
  padding-top: 132px; }

.Up {
  top: -132px;
  position: relative;
  height: 0px; }

/* Texto */
h1 {
  font-size: 60px;
  font-weight: 600;
  color: #484754;
  text-transform: uppercase; }

p {
  font-size: 20px;
  font-weight: 600; }

.Padding-Diseño {
  padding-top: 225px;
  z-index: 35; }

p.Items-home {
  margin: 25px 0;
  padding-top: 5px; }

.logo tspan {
  font-weight: 600; }

p.Items-home::before {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  background: #9FCBDD;
  margin-top: 1px;
  margin-right: 5px; }

.HomeWospress h1 {
  color: #F7FAFC;
  margin-bottom: 45px; }

.HomeWospress p {
  color: #F7FAFC; }

.HomeWospress p.Items-home {
  margin-left: 25%; }

/* Texto */
/* navbar */
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  min-height: 71px;
  padding-top: 10px; }

nav.Fondo {
  background-color: rgba(51, 51, 153, 0.3);
  height: 85px; }

.navbar-default .navbar-nav > li > a {
  color: #333399;
  font-weight: 700;
  font-size: 20px;
  border-right: 2px solid #333399;
  border-bottom: 2px solid #333399;
  border-top: 2px solid #333399;
  opacity: 1;
  transition: opacity 50ms cubic-bezier(0.25, 0.25, 0.75, 0.75), visibility 0s linear;
  visibility: visible;
  transition-delay: 50ms,50ms; }
  .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #FCFCFC; }
  .navbar-default .navbar-nav > li > a:before {
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    position: absolute;
    content: '';
    background: #333399;
    visibility: hidden;
    transition-duration: 0s;
    z-index: -1; }
  .navbar-default .navbar-nav > li > a:hover:before {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 230ms cubic-bezier(0.165, 0.84, 0.44, 1);
    visibility: visible; }

.navbar-default .navbar-nav > li.web a {
  opacity: 0;
  transition: opacity 2s linear; }

.navbar-default .navbar-nav:hover > li.web a {
  opacity: 1; }

.navbar-default .navbar-nav > li.web.active a {
  opacity: 1;
  border-left: 2px solid #333399; }

.navbar-default .navbar-nav > .active > a {
  color: #C99F7E;
  background-color: transparent; }
  .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #C99F7E;
    background-color: transparent; }

ul.navbar-right {
  padding-top: 14px; }

/* navbar */
@media (max-width: 768px) {
  .nav-Resp {
    padding-right: 0;
    padding-left: 0; } }

body {
  padding-top: 142px; }

/* Texto */
h1 {
  font-size: 60px;
  font-weight: 600;
  color: #484754;
  text-transform: uppercase; }

p {
  font-size: 20px;
  font-weight: 600; }

.Padding-Diseño {
  padding-top: 225px;
  z-index: 35; }

p.Items-home {
  margin: 25px 0;
  padding-top: 5px; }

.logo tspan {
  font-weight: 600; }

p.Items-home::before {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  float: left;
  background: #9FCBDD;
  margin-top: 1px;
  margin-right: 5px; }

.HomeWospress h1 {
  color: #F7FAFC;
  margin-bottom: 45px; }

.HomeWospress p {
  color: #F7FAFC; }

.HomeWospress p.Items-home {
  margin-left: 25%; }

/* Texto */
/* Animacion */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

.seconds2 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s; }

/* Animacion */
/* Footer */
.contenedor-Redes {
  height: 88px;
  width: 88px;
  border: 6px solid #9FCBDD;
  text-align: center;
  float: left;
  color: #D18C63; }

.contenedor-Redes:hover {
  background-color: #D18D63;
  color: #9FCBDD;
  animation: social 1s; }

@-webkit-keyframes social {
  0% {
    background-color: #F7FAFC;
    color: #D18C63; }
  100% {
    background-color: #D18D63;
    color: #9FCBDD; } }

@keyframes line {
  0% {
    background-color: #F7FAFC;
    color: #D18C63; }
  100% {
    background-color: #D18D63;
    color: #9FCBDD; } }

.contenedor-Redes:nth-of-type(2) {
  margin-left: 15px;
  margin-right: 15px; }

.contenedor-Redes i.fa {
  font-size: 44px;
  padding-top: 18px; }

.Footer {
  margin-top: 45px; }

svg#Line11-SVG line {
  -webkit-filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.58));
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.58)); }

.sub-Footer {
  padding-top: 25px; }

.tableFoot {
  margin: auto;
  display: table; }

svg:not(:root) {
  overflow: visible; }

/* Footer */
/* SVG */
svg#misela1 {
  padding-left: 30px;
  margin-bottom: -6px; }

svg#misela2 {
  position: absolute;
  z-index: -1;
  right: 0;
  margin-right: 50px;
  margin-top: 160px;
  opacity: 0.8; }

svg#Line1-SVG {
  position: absolute;
  z-index: 10;
  pointer-events: none;
  margin-left: 8.33333333%; }

svg#Line2-SVG {
  position: absolute;
  z-index: 25;
  margin-left: 8.33333333%; }

svg#Line3-SVG {
  position: absolute;
  margin-top: 82px; }

svg#Line4-SVG {
  margin-top: 209px;
  left: 40px;
  position: absolute; }

svg#Line5-SVG {
  background: #9fcbdd; }

svg#Line6-SVG {
  position: absolute; }

svg#Line7-SVG {
  z-index: -1;
  width: 100%; }

svg#Line8-SVG {
  position: absolute;
  z-index: 25;
  top: 160px; }

.Line5Col {
  position: absolute;
  margin-top: 255px;
  padding-left: 0;
  padding-right: 0;
  z-index: 29; }

.Line6Col {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  z-index: 55; }

.Line7Col {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  z-index: 45; }

.Line9Col {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  z-index: 45;
  margin-top: 214px; }

.Line10Col {
  z-index: 45;
  margin-top: 270px; }

/* SVG */
.BG-white {
  height: 500px;
  position: absolute;
  background: #fff;
  z-index: 35; }

.Mockup1 {
  margin: 55px auto 7px; }

.Mockup3 {
  margin: 15px auto 0; }

.Mockup3.Mockup3-img {
  position: absolute;
  top: 0;
  left: -8px;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
  pointer-events: none;
  z-index: 2; }

.Mockup1.Mockup1-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 15px;
  padding-right: 15px;
  pointer-events: none;
  z-index: 2; }

.Mockup1-imgAde {
  margin: auto; }

.otrocss {
  margin: auto; }

.Margin-Left1 {
  margin-left: 2.66666667%; }

.col-xs2-4 {
  width: 30.6666666%; }

.BG1 {
  background-color: #9FCBDD; }

.HomeWospress {
  padding-top: 264px; }

.Z-index {
  z-index: 15; }

.BG-Phone {
  background-image: url("../img/Mockup2-0.gif");
  height: 892px;
  background-position: 50% 0%;
  background-size: 100%;
  background-repeat: no-repeat; }

.Mockup2 {
  max-width: 360px;
  -webkit-filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.58));
  filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.58));
  z-index: 60;
  top: 45px; }

.Up-wordpress {
  margin-top: -130px;
  position: absolute;
  z-index: 36; }

img.logo {
  margin-left: -16px;
  margin-top: 0px;
  margin-bottom: 0px;
  position: absolute; }

.wordpress-BG {
  background-color: #D18D63;
  overflow: hidden; }
