.fixed {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 1030;
}

#loader-wrapper .loader-section {
	position: fixed;
	top: 0;
	width: 51%;
	height: 100%;
	background: #fff;
	z-index: 10000;
	animation-fill-mode: forwards;
	&.section-left {
		left: 0;
	}
	&.section-right {
		right: 0;
	}
}

.loaded #loader-wrapper .loader-section {
	&.section-left {
		transform: translateX(-100%);
		transition: all 0.3s 0.5s ease-out;
	}
	&.section-right {
		transform: translateX(100%);
		transition: all 0.3s 0.5s ease-out;
	}
}

div#loader {
	z-index: 55555555555555555;
	position: fixed;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	top: 0px;
	width: 100%;
	height: 100%;
}

.container.loader {
	height: 100%;
	transition: all 1s;
	animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
}

.flex-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-content: stretch;
	align-items: center;
	height: 100%;
	.prueba.logoPreload {
		transition: all 1s;
		animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
		display: table;
		height: 100%;
		svg#preload {
			order: 0;
			flex: 0 1 auto;
			align-self: center;
		}
		.percentage {
			margin-top: 15px;
			background: #fff;
			text-align: center;
			font-size: 25px;
			font-weight: 600;
		}
		&.logoPreload {
			display: table-cell;
			vertical-align: middle;
			width: 80%;
			.hola {
				padding-top: 47.2%;
				position: relative;
				width: 100%;
				svg#preload {
					transition: all 1s;
					animation-timing-function: cubic-bezier(0.65, 0.05, 0.36, 1);
					position: absolute;
					width: 100%;
				}
			}
		}
	}
}

.prueba.prueba1 {
	left: 0;
	top: 0;
	position: absolute;
	padding: 15px 15px;
	@media (min-width: 992px) {
		margin-left: 8.33333333%;
	}
	&.logoPreload {
		svg#logoPreload {
			width: 153px;
			.cuadrados {
				display: none;
			}
		}
	}
}