/*Css*/

@import "css/animate.scss";
@import "css/bootstrap.min.scss";
@import "css/font-awesome.min.scss";

/* Values */

@import "helper/variables";
@import "helper/txt";

/* carousel */

@import "section/owl.carousel";

/* sections */

@import "section/general";
@import "section/navbar";
@import "section/home";
@import "section/responsive";
@import "section/servicios";
@import "section/porfolio";
@import "section/Porfolio-Content";
@import "section/milo-Efect";
@import "section/contacto";
@import "section/input";
@import "section/footer";

/* Animacion */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.seconds2 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}


/* Animacion */


/* SVG */

.Line6Col {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  z-index: 55;
}

.Line7Col {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  z-index: 45;
}

.Line9Col {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  z-index: 45;
  margin-top: 214px;
}


/* SVG */

.Z-index {
  z-index: 15;
}



#slider {
  width:400px;
  margin:30px auto;
  background-color: #222;
  display: inline-block;
}

#slider, #slider a {
  background-image: none;
  border: 1px solid #555;
}
#slider a {
  background-color: #444;
}

