/*Css*/

@import "dependencias/bootstrap.scss";
@import "css/font-awesome.min.scss";

/* Values */

@import "helper/variables";
@import "helper/txt";

/* carousel */

@import "section/owl.carousel";

/* sections */

@import "section/contacto";
@import "section/footer";
@import "section/general";
@import "section/home";
@import "section/input";
@import "section/milo-Efect";
@import "section/navbar";
@import "section/porfolio";
@import "section/porfolioContent";
@import "section/preload";
@import "section/responsive";
@import "section/servicios";

/* Animacion */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.seconds2 {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}


@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        visibility: hidden;
    }
}

.fadeOut {
    animation-name: fadeOut;
}
/* Animacion */


/* SVG */

.Line6Col {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  z-index: 55;
}

.Line7Col {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  z-index: 45;
}

.Line9Col {
  position: absolute;
  padding-left: 0;
  padding-right: 0;
  z-index: 45;
  margin-top: 214px;
}


/* SVG */

.Z-index {
  z-index: 15;
}