$translucent-white: rgba(255,255,255,0.3);
$lemonade-banner: "https://s3.amazonaws.com/codecademy-content/courses/Sass/lemonade2.png";
$border: 4px solid black;
$color: rgba(39, 39, 39, 0.5);
$amount: 0.1;
$color2: fade-out($color, $amount);//rgba(39, 39, 39, 0.4)
$color: #010203 + #040506;
height: $width/6;
line-height: $width/6;
.absolute{
   position: absolute
}
h1 {
    @extend .absolute;
}
@mixin dimensions($width, $height){
  width: $width;
  height: $height;
}
  .slogan {
    @include dimensions(50%, 200px);
    border: $border;
  }
/* En variables ***
$border: 4px solid black;

*/

a%drink {
    font-size: 2em;
    background-color: $lemon-yellow;
 }
%absolute{
   position: absolute;
}

 .lemonade {
  @extend %drink;
  @extend %absolute;
  //more rules
 }

  a.lemonade {
    font-size: 2em;
    background-color: $lemon-yellow;
 }

.lemonde {
   position: absolute;
}



@mixin backface-visibility($visibility) {
  backface-visibility: $visibility;
  -webkit-backface-visibility: $visibility;
  -moz-backface-visibility: $visibility;
  -ms-backface-visibility: $visibility;
  -o-backface-visibility: $visibility;
}
  .front, .back {
    @include backface-visibility($visibility: hidden);
    @include transform(rotatey(-180deg));
  }
  
  
/*
$colorloco: fade-out($color, $amount);//rgba(39, 39, 39, 0.4)
*/
    &:hover {
        color:yellow;
    }