$color-Blanco:#FCFCFC;
$color-Azul: #14214B;
$color-Celeste: #333399;
$color-Turqueza: #3FA9F5;
$color-Naranja: #C99F7E;
$color-Gris:#D7D9DD;
$color-Transparent:transparent;
%Text-Mayuscula{
   text-transform: uppercase;
}
%positionAb{
    position: absolute;
}
$amount: 0.7;

%No-Touch{
pointer-events: none;
}

%BG-Transparente{
   background-color: transparent;
}