body{
    @extend %font-family;
    padding-top: 162px;
}
.Up {
    top: -132px;
    position: relative;
    height: 0px;
}

/* Texto */
h1{
    @extend %font-H1;
}
p{
    @extend %font-P1;
}
/* Texto */