body {
	@extend %font-family;
	padding-top: 124px;
	background-color: $color-Blanco;
}

@media (max-width: 767px) {
	body {
		padding-top: 94px;
	}
}

#home.Up {
	top: -162px;
}

.Up {
	top: -55px;
	position: relative;
	height: 0px;
}

input:-webkit-autofill {
	box-shadow: 0 0 0px 1000px $color-Celeste inset;
	-webkit-text-fill-color: $color-Blanco;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 0px;
	background: $color-Blanco;
}

::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background: $color-Naranja;
}


/* Texto */

h1 {
	@extend %font-H1;
}

h2 {
	@extend %font-H2;
}

p {
	@extend %font-P1;
}


/* Texto */

svg:not(.graphic) {
	top: 0;
	left: 0;
	transform-origin: 0px 0px 0px;
}

.img-responsive-SVG {
	display: block;
	max-width: 100%;
	height: initial;
}

svg {
	-ms-transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}

@-ms-viewport {
	width: device-width;
}