.home{
    h1{
        color: $color-Celeste;
    }
    p{
        color: $color-Azul;
        &.Items{
            @extend %Text-Mayuscula;
            margin: 25px 0;
            padding-top: 5px;
            &::before {
                content: "";
                width: 10px;
                height: 10px;
                display: block;
                float: left;
                background: $color-Naranja;
                margin-top: 9px;
                margin-right: 5px;
            }
            span{
                color: $color-Blanco;
                background-color: $color-Celeste;
                padding: 0px 12px;
            }
        }
    }
    .Mockup1.Mockup1-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding-left: 15px;
        padding-right: 15px;
        pointer-events: none;
        z-index: 2;
    }
    .Mockup1-imgAde{
        margin: auto;
    }
    .otrocss{
        margin: auto;
    }
    .Margin-Left1 {
        margin-left: 2.66666667%;
    }
    svg#Line1-SVG {
        position: absolute;
        z-index: 10;
        pointer-events: none;
        margin-left: 8.33333333%;
    }
}
svg#misela1 {
    padding-left: 30px;
    margin-bottom: -6px;
}
