.porfolio-content {
	/* Common style */
	.grid li {
		position: relative;
		float: left;
		overflow: hidden;
		text-align: center;
		cursor: pointer;
	}
	.grid li img {
		position: relative;
		display: block;
		max-width: 100%;
		opacity: 0.8;
	}
	.grid li figcaption {
		padding: 2em;
		color: #fff;
		text-transform: uppercase;
		font-size: 1.25em;
		backface-visibility: hidden;
	}
	.grid li figcaption::before,
	.grid li figcaption::after {
		pointer-events: none;
	}
	.grid li figcaption,
	.grid li figcaption>a {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		animation-name: figcap;
	}
	/* Anchor will cover the whole item by default */
	.grid li figcaption>a {
		z-index: 1000;
		text-indent: 200%;
		white-space: nowrap;
		font-size: 0;
		opacity: 0;
	}
	.grid li h2 span {
		font-weight: 800;
	}
	.grid li h2,
	.grid li p {
		margin: 0;
	}
	.grid li p {
		letter-spacing: 1px;
		font-size: 68.5%;
	}
	@media (max-width: 767px) {
		.grid li figcaption p {
			display: none;
		}
	}
	li.effect-milo {
		background: $color-Blanco;
	}
	li.effect-milo img {
		max-width: none;
		width: 100%;
		opacity: 1;
		transition: opacity 0.35s, transform 0.35s;
		transform: translate3d(0, 0, 0) scale(1.12);
		backface-visibility: hidden;
	}
	li.effect-milo:hover img {
		opacity: 0.3;
		transform: translate3d(0, 0, 0) scale(1);
	}
	li.effect-milo:hover h2 {
		color: $color-Celeste;
	}
	li.effect-milo h2 {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 0;
		padding: 1em 1.2em;
		font-weight: 700;
		font-size: 34px;
		text-align: right;
		@media (max-width: 1750px) and (min-width: 1500px) {
			font-size: 29px;
		}
		@media (min-width: 1200px) and (max-width: 1500px) {
			padding: 0.4em 1.2em;
			font-size: 26px;
		}
		@media (max-width: 767px) {
			padding: 0.1em 1.2em;
			font-size: 24px;
			background-color: rgba(255, 255, 255, 0.54);
		}
	}
	li.effect-milo p {
		padding: 0 10px 0 0;
		width: 44%;
		border-right: 2px solid $color-Naranja;
		text-align: right;
		opacity: 0;
		font-size: 17px;
		transition: opacity 0.35s, transform 0.35s;
		transform: translate3d(-200px, 0, 0);
		font-weight: 700;
		line-height: 30px;
		@media (max-width: 1750px) and (min-width: 1500px) {
			line-height: 24px;
			font-size: 16px;
			width: 50%;
		}
		@media (min-width: 1200px) and (max-width: 1500px) {
			width: 55%;
			line-height: 16px;
			font-size: 13px;
		}
		@media (max-width: 1200px) {
			width: 50%;
			line-height: 24px;
			font-size: 18px;
		}
		@media (max-width: 992px) {
			width: 40%;
			line-height: 40px;
			font-size: 25px;
		}
	}
	li.effect-milo:hover p {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}