
/* navbar */

nav{
    &.Fondo {
        border-bottom: 6px solid $color-Naranja; 
        background-color: $color-Celeste;
        height: 70px;
        .navbar-nav{
            & > li > a {
                color: $color-Blanco;
                &:hover{
                    color: $color-Naranja;
                }
            }
        }
        .logo{
            text {
                fill: $color-Blanco;
            }
            rect {
                fill: none;
                stroke-width: 2px;
            }
        }
    }
}
.navbar-default {
    height: 70px;
    background-color: transparent;
    border-color: transparent;
    min-height: 71px;
    padding-top: 0px;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out; 
    .logo svg{
        width: 153px;
        text {
        font-weight: 600;
        stroke-width: 0px;
        } 
    }
    .navbar-nav{
        & > li > a {
            color: $color-Celeste;
            font-weight: 600;
            font-size: 20px;
            opacity: 1;
            transition: opacity 50ms cubic-bezier(.25,.25,.75,.75),visibility 0s linear;
            visibility: visible;
            transition-delay: 50ms,50ms;
            &:hover {
                color: $color-Blanco;
            }
            &:before {
                top: 25%;
                bottom: 25%;
                left: 25%;
                right: 25%;
                position: absolute;
                content: '';
                background: $color-Celeste;
                visibility: hidden;
                transition-duration: 0s;
                z-index: -1;
            }
            &:hover:before {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                -webkit-transition: all .5s cubic-bezier(.165,.84,.44,1);
                -moz-transition: all .5s cubic-bezier(.165,.84,.44,1);
                -o-transition: all .5s cubic-bezier(.165,.84,.44,1);
                transition: all .5s cubic-bezier(.165,.84,.44,1);
                visibility: visible;
            }
        }
        & > li.web a{
            overflow: hidden;
            transition:opacity 2s linear;
                span{
                    -webkit-transition: width .5s ease-in-out;
                    -moz-transition: width .5s ease-in-out;
                    -o-transition: width .5s ease-in-out;
                    transition: width .5s ease-in-out; 
                    float: right;
                    overflow: hidden;
                }
        }
        &:hover > li.web a{
                span{
                    -webkit-transition: width .5s ease-in-out;
                    -moz-transition: width .5s ease-in-out;
                    -o-transition: width .5s ease-in-out;
                    transition: width .5s ease-in-out; 
                }
        }
        & > li.web.active a span{
            width: auto!important;
        }
        &:hover > li.web.active a span{
            display: block!important;
        //    border-left: 0px solid $color-Celeste;
        }
        & > li.active{
            & > a{
                color: $color-Naranja;
                background-color: transparent;
                &:hover, &:focus {
                    color: $color-Naranja;
                    background-color: transparent;
                }   
                span{
 //                   width: 0px;
                }
            }
        }
    }
}
ul.navbar-right {
    padding-top: 14px;
}
/* navbar */


@media (max-width: 768px){
    .nav-Resp {
        padding-right: 0;
        padding-left: 0;
    }
}