
/* navbar */

nav{
    &.Fondo {
        border-bottom: 6px solid $color-Naranja; 
        background-color: $color-Celeste;
        height: 70px;
        .navbar-nav{
            & > li > a {
                color: $color-Blanco;
                &:hover{
                    color: $color-Naranja;
                }
            }
        }
        .logo{
            text {
                fill: $color-Blanco;
            }
            rect {
                fill: none;
                stroke-width: 2px;
            }
        }
    }
}
.navbar-default {
    height: 70px;
    background-color: transparent;
    border-color: transparent;
    min-height: 71px;
    padding-top: 0px;
    .logo svg{
        width: 153px;
        text {
        font-weight: 600;
        stroke-width: 0px;
        } 
    }
    .navbar-nav{
        & > li > a {
            color: $color-Celeste;
            font-weight: 600;
            font-size: 19px;
            opacity: 1;
            transition: opacity 50ms cubic-bezier(.25,.25,.75,.75),visibility 0s linear;
            visibility: visible;
            transition-delay: 50ms,50ms;
            &:before {
                content: "";
                margin-top: 7px;
                margin-right: 9px;
                display: block;
                float: left;
                background: $color-Blanco;
                width: 8px;
                height: 8px;
            }
            &:hover {
                color: $color-Naranja;
            }
            &:hover:before {
                background: $color-Naranja;
            }
        }
        & > li.active{
            & > a{
                color: $color-Naranja;
                background-color: transparent;
                &:hover, &:focus {
                    color: $color-Naranja;
                    background-color: transparent;
                }
                &:before {
                    background: $color-Naranja;
                }
            }
        }
    }
}
ul.navbar-right {
    padding-top: 14px;
}
/* navbar */


@media (max-width: 768px){
    .nav-Resp {
        padding-right: 0;
        padding-left: 0;
    }
}