.servicios{
    h1{
        color: $color-Celeste;
        margin-top: 138px;
    }
    
    p{
        color: $color-Celeste;
        @extend %font-P2;
        margin-bottom: 85px;
    }
    .BG {
        height: 283px;
        position: absolute;
        background: #fff;
        z-index: 35;
        width: 300px;
    }
    .z-index-50{
        z-index: 50;
    }
    .servicio_line,
    .servicio_misela{
        position: absolute;
        padding-left: 0;
        padding-right: 0;
        pointer-events: none;
    }
    .owl-carousel .owl-item.center svg{
        opacity: 1;
        -webkit-transform: scale(1.3);
        transform: scale(1.3);
        transform-origin: 50% 0;
    }
    .owl-carousel .owl-item svg{
        opacity:0.6;
        transition:all 1500ms ease;
    }
    .owl-carousel .owl-stage {
        position: relative;
        -ms-touch-action: pan-Y;
        margin-bottom: 5%;
    }
}