$color-Blanco:#fcfcfc;
$color-Azul: #14214b;
$color-Celeste: #333399;
$color-Turqueza: #3fA9f5;
$color-Naranja: #C99f7e;
$color-Gris:#d7d9dd;
$color-Transparent:transparent;
%Text-Mayuscula{
   text-transform: uppercase;
}
%positionAb{
    position: absolute;
}
$amount: 0.7;

%No-Touch{
pointer-events: none;
}

%BG-Transparente{
   background-color: transparent;
}